**Exercise 2: Create markdown cell with title of the notebook using H1 style heading.**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
- List popular languages for data Science
- List commonly used libraries used by Data Scientists
- Create a table that lists Data Science tools
- Introduce arithmetic expression examples
- Create a code cell to multiply and then add numbers and convert minutes to hours.

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Keras
5. Scikit-Learn
6. TensorFlow
7. PyTorch

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache Spark|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python ###

Adding

In [1]:
2+5+7

14

Subtraction

In [2]:
10-5-3

2

Multiplication

In [6]:
8*1*2

16

**Exercise 8 - Create a code cell to multiply and add numbers**

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

**Exercise 11 - Create a markdown cell to indicate the Author's name**
## Author ## 
Olga Murillo Hernandez.